@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #fe0202;
  --teal: #59BC98;
  --blue: #2594D2;
  --green: #72BC59;
  --purple: #BC59A0;
  --lime: #DCF73C;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: var(--red);
}

h1 {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 72px;
  margin-bottom: 25px;
}

h3 {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 22px;
  margin-bottom: 31px;
}

/* checkbox styling */
form div.colors {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.colors input{
  appearance: none; /* hide default checkbox */
}

.colors input{
  height: 3.75rem;
  width: 3.75rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 15%;

  padding: .25rem;
}

.colors input::before{
  content: '';
  height: 100%;
  display: block;
  border-radius: 15%;
}

.colors input:checked{
  border: 3px solid black;
}

#red::before{
  background-color: var(--red);
}

#teal::before{
  background-color: var(--teal);
}

#blue::before{
  background-color: var(--blue);
}

#green::before{
  background-color: var(--green);
}

#purple::before{
  background-color: var(--purple);
}

#lime::before{
  background-color: var(--lime);
}

.radioBtn.checked{
  border: 3px solid black;
}